.info {
	font-size: 4em;
	font-family: Aracne, sans-serif;
}

.info p {
	max-width: 40em;
	line-height: 1;
    padding-bottom: 3em;
    background-image: url("/images/cable.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 3em;
}